<a href="https://colab.research.google.com/github/AtulK3/Hypothesis-testing/blob/main/One_sample_z_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

One Sample Z test from Scratch

In [ ]:
import math

The height 30 U.S. male population is given below with population mean 70 and sd 3 inches.test the claim that wether the height of the U.S. male population is 70 inchs or not at 5% LOS.

In [ ]:
ht = [67,70,65,73,71,72,69,73,71,71,72,73,71,71,67,67,69,66,68,65,66,73,68,67,73,71,70,75,68,73,66]

In [ ]:
## the test satistics is,
## z =((x_bar-mu) / (sigma / sqrt(n))) ##

In [ ]:
def mean(data):
  xbar = sum(data) / len (data)
  return xbar

In [ ]:
mean(ht)

69.70967741935483

In [ ]:
def ztest(data,sigma , mu):
  n = len(data)
  x_bar = mean(data)
  z =((x_bar-mu) / (sigma / n ** 0.5))
  return z

In [ ]:
ztest(ht ,3 , 70)

-0.5388159060803358

# P value :

In [ ]:
## p value ##
import scipy.stats

In [ ]:
p_values1 = scipy.stats.norm.sf(abs(-0.5388)) #one-sided

p_values2 = scipy.stats.norm.sf(abs(-0.5388))*2 #twosided

In [ ]:
p_values2

0.5900248636245424

In [ ]:
## conclusion:
alpha = 0.05 
if alpha > p_values2:
  print("Reject the Null hypothesis at 5% LOS :\n","the mean height of the U.S. male population is not a 70 inchs ")
else:
  print("Accept the Null hypothesis at 5% LOS :\n","the mean height of the U.S. male population is 70 inchs ")

Accept the Null hypothesis at 5% LOS :
 the mean height of the U.S. male population is 70 inchs

e.g.2
A random sample of 100 bulbs is having mean 1150 hr with sd 125 hr .Its reasonable to say that mean of bulb in the population is 1200 or not?

We have, n = 100 ,x_bar = 1150 ,sigma = 125 , Mu = 1200

In [ ]:
def z_test(n , mean , sigma ,mu):
  z =((mean-mu) / (sigma / n ** 0.5))
  return z

In [ ]:
z_test(100,1150,125,1200)

-4.0

In [ ]:
list1 = [23, 34, 43, 58, 25]
for i in list1:
  if (i-5):
          print(i)

23
34
43
58
25

In [ ]:
import pandas as pd
# using list of lists
data = [['Mayur','70','A','B'],['Vrushali','75','A+','C'],['Shweta','80','O','D'],['Shridhar','85','O','S']]
df = pd.DataFrame(data,columns =['Name','Marks','Grade',"AA"])
df

       Name Marks Grade AA
0     Mayur    70     A  B
1  Vrushali    75    A+  C
2    Shweta    80     O  D
3  Shridhar    85     O  S