**# One Sample t test**                                              
This test is used when we want to check whether the mean of the single population is equal to the targeted value or not.                             
E.g. We want to test whether the mean level of Sugar in the body is equal to 120 mg or not.

E.g. The Height of 10 students( in inches ) is given below 63,67,66,68,69,70,70,71,71,65. Test wether the population mean height is 66 inches or not at 5 % level of Significance.

In [3]:
## Created the list store the variable height
height = [63,67,66,68,69,70,70,71,71,65]
height

[63, 67, 66, 68, 69, 70, 70, 71, 71, 65]

We have,
population mean (μ) = 66 , Sample size (n) = 10  , Level of significance = 0.05 or 5 %

The test statistics is,
t = (x̄ - μ) / (s /sqrt(n))

In [4]:
n = len(height)  ## to get  the sample size
sum_height = sum(height) 
sum_height

680

In [5]:
x_bar = sum_height /len(height) # To find the Mean
print(x_bar)
mu = 66  # Population Mean

68.0

sample variance (s) = sqrt (Σ (Xi - x_bar)^2 / n-1 )

In [ ]:
sample_var = sum((xi - x_bar)** 2 for xi in height )/ (len(height)-1)
sample_var

7.333333333333333

In [ ]:
 ## Sample Standart deviation
 std_dev = sample_var ** 0.5
 std_dev

2.70801280154532

In [ ]:
## standard error
se = std_dev / len(height)**0.5
se

0.8563488385776752

In [ ]:
cal_t = (x_bar - mu) / se
cal_t

2.3354968324845693

In [ ]:
## Critical value of t ##
import scipy.stats

# Tabulated t value          
The tabulated t value is calculated using t disribution table as follows:     
Tab t = t(n-1 , α / 2) degrees of freedom                     
we have n = 10  and alpha (α ) = 0.05
so, t(10-1 , 0.05 / 2)                     
    t(9 , 0.025)  = 2.262               
    in t distribution table look for the 9th row sice we get (10-1) = 9     and in coloum look for two tailed alpha(α ) = 0.05 or one tailed alpha(α) = 0.025 you will get correspoding Tab t value.

https://cdn.analyticsvidhya.com/wp-content/uploads/2019/05/t-table.png

scipy.stats.t.ppf(q, df)

where  q = significance Level                 
        df = degrees of freedom

In [ ]:
## hypothesis is twi tailed
tab_t = scipy.stats.t.ppf(q=1-.05/2,df=9)
tab_t

2.2621571627409915

In [ ]:
## Conclusion
if tab_t > cal_t:
  print("Accept the Null hypothesis:\n" ,"The population mean height is 66 inches")
else:
    print("Reject the Null hypothesis:\n","The population mean height is not equal to 66 inches")

Reject the Null hypothesis:
 The population mean height is not equal to 66 inches

#t-test using User Defined function

In [ ]:
## Created the list store the variable height
height = [63,67,66,68,69,70,70,71,71,65]
height

[63, 67, 66, 68, 69, 70, 70, 71, 71, 65]

In [ ]:
import math
## User Defined Func for mean
def mean(numbers):
    return (sum(numbers)) / max(len(numbers),1)

mean(height)

68.0

In [ ]:
## User Defined function for Variance
def var(data):
  n = len(data)
  mean = sum(data) / n
  sq_dev = [(x-mean) ** 2 for x in data]
  
  var = sum (sq_dev )/(n-1)
  return var

In [ ]:
##t =( xbar - mu )/ (sd /sqart(n))

In [ ]:
def t_test(data,mu):
  x_bar = mean(data)
  sd = math.sqrt(var(data))
  n = len(data)
  t =( x_bar - mu )/ (sd /math.sqrt(n))
  return t

In [ ]:
cal_t = t_test(height, 66)

## Tabulated t value
## cipy.stats.t.ppf(q, df)

where q = significance Level
df = degrees of freedom

In [ ]:
## Critical value of t ##
import scipy.stats

In [ ]:
## hypothesis is two tailed
tab_t = scipy.stats.t.ppf(q=1-.05/2,df=9)
tab_t

2.2621571627409915

In [ ]:
## Conclusion
if tab_t > cal_t:
  print("Accept the Null hypothesis:\n" ,"The population mean height is 66 inches")
else:
    print("Reject the Null hypothesis:\n","The population mean height is not equal to 66 inches")

Reject the Null hypothesis:
 The population mean height is not equal to 66 inches